/* 
 * Styles for vocabulary program. 
 * 
 * This may be used in combination with 
 * Twitter Bootstrap style sheets, which 
 * provide responsive design for mobile
 * devices, so we don't want to mess up 
 * layout and text sizes here.  Use this
 * style sheet mainly for minor attributes 
 * like text color, italics, etc. 
 */

.message { 
    color: red;
}
.red_msg{ 
    color: red;
}
.blue_msg{ 
    color: blue;
}
.black_msg{ 
    color: black;
}
.highlight_msg{ 
    background: yellow;
}
